<div class="container-fluid">
	<div class="row bg-dark mt-3">
		<div class="col p-4 d-none d-md-block">
			<ul class="nav flex-column float-right">
				<li class="nav-item">
					<a class="nav-link text-white" routerLink = "/"><i class='fas fa-angle-right'></i> Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" routerLink = "/about"><i class='fas fa-angle-right'></i> About</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" routerLink = "/contact"><i class='fas fa-angle-right'></i> Contact me</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" routerLink = "/gallery"><i class='fas fa-angle-right'></i> Gallery</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" routerLink = "/service"><i class='fas fa-angle-right'></i> Services</a>
				</li>
			</ul>
		</div>
		<div class="col p-4 text-white">
			<h3 class="text-center logo-font"><i class="fas fa-camera-retro"></i> Mr. Paparazzo</h3>
			<br>
			<br>
			<p class="text-center">All photos taken by <br>
				<a class=" text-white" href="#">Franz Ferdinand</a>
			</p>
		</div>
		<div class="col p-4 text-white">
			<div class="w-50 mr-auto">
				<h5>Contacts:</h5>
				<p>1220 Vienna, Leonard-Bernstein-Straße 8<br>
					papaparazzi@fakemail.com<br>
					+43(123)3456789
				</p>
			</div>
		</div>
	</div>
</div>