<navbar></navbar>
<!-- HERE SHOULD BE CONTENT -->
<div class="container my-5">
	<div class="row info">
		<div class="col-12 col-md-6 p-3">
			<div class="w-75 mx-auto">
				<img class="img-fluid" src="../../assets/img/profile_1.jpg" alt="profile.jpg">
			</div>
		</div>
		<div class="col-12 col-md-6 p-3">
			<h3><span class="text-danger">F</span>ranz <span class="text-danger">F</span>erdinand</h3>
			<h5><span class="text-danger">T</span>he <span class="text-danger">P</span>hotographer</h5>
			<p>Love <span class="text-danger">N</span>ature | Take nice <span class="text-danger">P</span>ictures | <span class="text-danger">T</span>ravel a lot</p>
			<p><span class="text-danger">W</span>as born in <span class="text-danger">G</span>raz, moved in <span class="text-danger">V</span>ienna.<br>
			<span class="text-danger">L</span>orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Maecenas sed enim ut sem.</p>
		</div>

	</div>
	<div class="row">
		<div class="col">
			<a href="#" class="text-dark float-right"><h2><i class='fa fa-facebook-official'></i></h2></a>
		</div>
		<div class="col">
			<a href="#" class="text-dark text-center"><h2><i class='fa fa-twitter'></i></h2></a>
		</div>
		<div class="col">
			<a href="#" class="text-dark float-left"><h2><i class='fa fa-instagram'></i></h2></a>
		</div>
	</div>

</div>
<app-footer></app-footer>