<navbar></navbar>
<div id="content" class="container-fluid">
  	<div class="row m-4">
    	<div class="card col-lg-3 col-md-5 col-sm-12 m-lg-5 m-md-4 mt-sm-2 text-center d-flex" style="width: 18rem;" *ngFor="let offer of offers ; index as offersId">
      		<img class="card-img-top posterimg" src="assets/img/{{ offer.img }}" alt="{{ offer.alt }}">
      	<div class="card-body">
        	<h5 class="card-title">{{ offer.name }}</h5>
        	<h4 class="card-title">Price: {{ offer.price }} $</h4>
        	<h3>{{ offer.info}}</h3>
        	<!--<button class="btn btn-success m-2" (click)=" addtoCart(offer)">Add to Cart</button>-->
      	</div>
        <button class="btn btn-success mx-auto my-2 align-self-end" (click)=" addtoCart(offer)">Add to Cart</button>
  	</div>
  <div class="card" style="width: 18rem;" *ngFor="let item of comment">
    <div class="card-body">
      <h5 class="card-title">Review #1<button class="btn btn-success m-2">Edit</button></h5>
      <h6 class="card-subtitle mb-2 text-muted">{{item.options}}</h6>
      <p class="card-text">{{item.message}}</p>
    </div>
  </div>

 <!--  <div class="row p-3">
    <form id="formAdd" class="text-white" [formGroup]="adding" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="Inputselect" class="text-dark">Select Package</label>
          <select class="" formControlName="options">
          <option>Photoshoot</option>
          <option>Portrait</option>
          <option>Gallery</option>
          </select>
      </div>
      <div class="form-group">
        <label for="commnet" class="text-dark">Review:</label>
          <textarea type="text" class="form-control comment" rows="5" id="type" placeholder="Add Comment" formControlName="message"></textarea>
        </div>
        <input type="submit" class="btn btn-primary" value="Submit">
    </form>
  </div> -->

	<div class="container shcart">
		<table class="table table-hover table-dark shcart">
		  <thead>
		    <tr>
		      <th scope="col">#</th>
		      <th scope="col">Product</th>
		      <th scope="col">Price</th>
		      <th scope="col"><button class="btn btn-primary clearing" (click)="clearCart()">Empty your Cart</button></th>
		    </tr>
		  </thead>
		  <tbody>
		  	<tr *ngFor="let product of items; index as i">
		      <th scope="row"></th>
		      <td><img class="shitem" src="assets/img/{{ product.img }}" alt="{{product.alt}}">{{ product.name }}</td>
		      <td>{{ product.price }}$</td>
		      <td>{{ product.qtty }}<button (click)="addMore(product)" class="plus ml-2"> ➕ </button> <button (click)="addLess(product,i)" class="minus ml-2"> ➖ </button><button class="btn btn-danger ml-2 remove" (click)="removeItem(i)">Remove Product</button></td>
		    </tr>
		  </tbody>
	    <thead >
	      <tr class="text-center">
	        <th id="totalprice" colspan="6">Total: {{ calcTotal() }}</th>
	      </tr>
	    </thead>
		</table>
	</div>
  	<form class="m-auto" [formGroup]="info" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>First Name</label>
          <input type="text" class="form-control" id="inputFirst" placeholder="First Name" formControlName="firstName">
        </div>
        <div class="form-group col-md-6">
          <label>Last Name</label>
          <input type="text" class="form-control" id="inputLast" placeholder="Last Name" formControlName="lastName">
        </div>
      </div>
        <div class="form-group">
          <label>E-Mail</label>
          <input type="text" class="form-control" id="inputEmail" placeholder="random@gmail.com" formControlName="email">
        </div>
        <div class="form-group">
          <label>Starting Date</label>
          <input type="date" class="form-control" id="inputDate"  formControlName="date">
        </div>
        <div class="form-group">
          <label>Your Message</label>
          <textarea type="text" class="form-control" rows="4" cols="5" id="textarea" placeholder="your message" formControlName="message"></textarea>
        </div>
        <button type="submit" class="btn btn-primary m-2">Order</button>
    </form>
  </div>
</div>



<app-footer></app-footer>