<div id="full-size" *ngIf="photo">
	<div class="prev-btn">
		<a [routerLink]="['/photos', getIndexP(photo)]" class="text-white">
			<i class='fas fa-arrow-alt-circle-left' style="font-size:36px"></i>
		</a>
	</div>
		<div class="img-frame row mx-0">
			<div class="col-12 col-md-9">
				<button type="button" class="text-white btn close-btn" routerLink="/app-gallery-page">
					<i class='fas fa-backspace' style="font-size:36px"></i>
				</button>
				<div class="img-box">
					<img src="{{photo.pic}}">
				</div>				
			</div>
			<div class="col-12 col-md-3 text-white d-flex">
				<div class="align-self-end">
					<h5><span class="small">Location:</span><br>
					{{photo.location}}</h5>
					<h5><span class="small">Date:</span><br>
					{{getDate(photo)}}</h5>
				</div>				
			</div>
		</div>
	<div class="next-btn">
		<a [routerLink]="['/photos', getIndexN(photo)]" class="text-white">
			<i class='fas fa-arrow-alt-circle-right' style="font-size:36px"></i>
		</a>
	</div>
</div>
