#full-size {
	height: 100vh;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}

.img-box {
	height: 80vh;
}

.img-box img {
	height: 100%;
	border: 2px solid white;
}