<navbar></navbar>
<div class="container-fluid">
	<!--  FILTERS and SORTING -->
	<div class="row mt-4 no-gutters">
		<div class="col-12 col-sm-6 col-md-2 p-3 mx-auto">
			<button class="filter-btn btn btn-outline-dark" (click)="showList('all')">All</button>
		</div>
		<div class="col-12 col-sm-6 col-md-2 p-3 mx-auto">
			<button class="filter-btn btn btn-outline-secondary" (click)="showList('Nature')">Nature</button>
		</div>
		<div class="col-12 col-sm-6 col-md-2 p-3 mx-auto">
			<button class="filter-btn btn btn-outline-secondary" (click)="showList('Portrait')">Portrait</button>
		</div>
		<div class="col-12 col-sm-6 col-md-2 p-3 mx-auto">
			<button class="filter-btn btn btn-outline-secondary" (click)="showList('City')">City</button>
		</div>
		<div class="col-12 col-sm-6 col-md-2 p-3 mx-auto">
			<button class="filter-btn btn btn-outline-secondary" (click)="sortByDate('down')">
				by Date <i class='fas fa-angle-double-down'></i>
			</button>
		</div>
		<div class="col-12 col-sm-6 col-md-2 p-3 mx-auto">
			<button class="filter-btn btn btn-outline-secondary" (click)="sortByDate('up')">
				by Date <i class='fas fa-angle-double-up'></i>
			</button>
		</div>
	</div>
	<input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Start searching for a picture by category">
	<!--  CONTENT -->
	<div class="row mt-4 no-gutters">
		<!--<div class="col-lg-4 col-md-5 col-sm-10 galleryimg" width="304" height="236" *ngFor="let itm of listOfPictures; index as photoId" >
			<a [routerLink]="['/photos', photoId]">
				<img src="{{itm.pic}}" class="img-thumbnail poster" alt="{{itm.cat}}">
			</a>
		</div> -->
		<div class="col-4 p-lg-3 p-xs-4 p-md-4 p-sm-4 posters" *ngFor="let itm of listOfPictures | filter:searchText; index as photoId">
			<a [routerLink]="['/photos', photoId]">
				<div class="img-box img-fluid">
					<img src="{{itm.pic}}">
				</div>
			</a>
		</div>
	</div>
</div>
	
<app-footer></app-footer>
