.filter-btn{
	width: 100%;
}

.img-box{
	width: 30vw;
	height: 30vw;
	overflow: hidden;
}

.img-box img {
	max-height: 100%;
	min-width: 100%;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
}
.img-box img:hover {
	-webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */
	filter: grayscale(0);
}
@media only screen and (max-width: 576px) {
	.img-box{
		width: 44vw;
		height: 44vw;
	}
	.img-box img {
		-webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */
		filter: grayscale(0);
	}
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
	.img-box img {
		-webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */
		filter: grayscale(0);
	}
}