<navbar></navbar>
	<div class="container fluid">
		<div class="row">       <!-- *ngFor="let itm of listOfPictures; index as photoId" -->
			<div class="col-lg-4 col-md-5 col-sm-10 mt-4 galleryimg" width="304" height="236" *ngFor="let itm of listOfPictures; index as photoId" >
				<a [routerLink]="['/photos', photoId]">
					<img src="{{itm.pic}}" class="img-thumbnail poster">
				</a>
			</div>			
		</div>
	</div>
	<!--the path for Full Size Picture: 'photos/:photoId' <a [routerLink]="['/photos', photoId]">{{itm.pic}}</a> -->
	
<app-footer></app-footer>
