<div class="bg">
	<h1 class="author display-4 d-none d-md-block text-white text-center logo-font"><i class="fas fa-camera-retro"></i> Mr. Paparazzo</h1>
	<h1 class="author d-md-none text-white text-center logo-font"><i class="fas fa-camera-retro"></i> Mr. Paparazzo</h1>
	<div class="container special">
		<div class="row no-gutters p-2">
			<div class="col p-3">
				<button class="menu-btn btn btn-outline-light text-white" routerLink="/app-about-page">About</button>
			</div>
			<div class="col p-3">
				<button class="menu-btn btn btn-outline-light text-white" routerLink="/app-gallery-page">Gallery</button>
			</div>
			<div class="col p-3">
				<button class="menu-btn btn btn-outline-light text-white" routerLink="/app-service-page">Services</button>
			</div>
			<div class="col p-3">
				<button class="menu-btn btn btn-outline-light text-white" routerLink="/app-contact-page">Contact me</button>
			</div>
		</div>
	</div>
	
	<div class="social text-center w-100">
		<div class="facebook d-inline-block ml-auto">
			<h3><i class='fab fa-facebook fbicon'></i></h3>
		</div>

		<div class="twitter d-inline-block mx-3">
			<h3><i class='fab fa-twitter twicon'></i></h3>
		</div>

		<div class="instagram d-inline-block mr-auto">
			<h3><i class="fab fa-instagram instaicon"></i></h3>
		</div>

	</div>


		<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
		  <div class="carousel-inner">
		    <div class="carousel-item active bgimages">
		      <img class="d-block w-100 caritem" src="assets/img/nature.jpg" alt="Image by David Mark from Pixabay ">
		    </div>
		    <div class="carousel-item bgimages">
		      <img class="d-block w-100 caritem" src="assets/img/woman.jpg" alt="Image by Rondell Melling from Pixabay">
		    </div>
		    <div class="carousel-item bgimages">
		      <img class="d-block w-100 caritem" src="assets/img/city.jpg" alt="Image by carloyuen from Pixabay">
		    </div>
		  </div>
		</div>

</div>


