.special{
	position: absolute;
	margin-top: 250px;
	z-index: 1;
}
img{
	max-width: 100%;
    max-height: 100vh;
    margin: auto;
}
body{
	height: 100%;
}
.bg{
	display: grid;
    height: 100%;
}
button:hover{
	color: black !important;
}
.author{
	position: absolute;
	z-index: 1;
}
.social{
	position: absolute;
	z-index: 1;
	margin-top: 330px;
}