.special{
	position: absolute;
	margin-top: 250px;
	z-index: 1;
}
img{
	max-width: 100%;
    height: 100vh;
}
body{
	height: 100%;
}
.bg{
	display: grid;
    height: 100%;
}
.bgimages{
	height: 100vh;
}
button:hover{
	color: black !important;
}
.author{
	position: absolute;
	z-index: 1;
}
.social{
	position: absolute;
	z-index: 1;
	margin-top: 330px;
}
.fbicon{
	color: rgba(255, 255, 255, 1.0);
}
.twicon{
	color: rgba(255, 255, 255, 1.0);
}
.instaicon{
	color: rgba(255, 255, 255, 1.0);
}
.fbicon:hover{
	color: rgba(0, 0, 0, 0.8);
}
.instaicon:hover{
	color: rgba(0, 0, 0, 0.8);
}
.twicon:hover{
	color: rgba(0, 0, 0, 0.8);
}
ul{
	display:  flex !important;
	flex-direction: row;
}
.caritem{
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  	filter: grayscale(100%);
}
