<navbar></navbar>
<div class="container mt-5">

<form>
<h1>Contact Us</h1>
<div class="form-group">
<label for="Name">Full Name</label>
<input type="name" class="form-control" id="Name" placeholder="Name">
</div>
<div class="form-group">
<label for="Email1">Email</label>
<input type="email" class="form-control" id="Email1" placeholder="Email">
</div> 
<div class="form-group">
<label for="Inputselect">Select Number</label>
<select class="form-control" >
<option>1</option>
<option>2</option>
<option>3</option>
</select>
</div> 
<div class="form-group">
 
<label for=" Email1msg">Enter your message</label>
 
<textarea class="form-control" rows="5"></textarea>

</div>

 
<button type="submit" class="btn btn-info">Submit Information</button>
</form>
</div>
           
<app-footer></app-footer>